{% extends 'index.html'%}
{% block content %}
    <section class="ppt">
        <div class="container1">
            <h1>Welcome to HealthEdu Courses</h1>
            <p>
                Welcome to our comprehensive slide presentation on the fascinating world of bones. This collection of slides delves into the intricate anatomy and physiology of bones, 
                the rigid organs that form part of the endoskeleton of vertebrates. You’ll learn about the complex structure of bones, which are not as solid as they seem but are laced with blood vessels and nerves. 
                We’ll explore the different types of bones in the human body - long, short, flat, and irregular - and their unique roles. The slides also cover the dynamic nature of bones, constantly remodeling themselves in response to stress or injury. 
                We’ll dive into the microscopic level to understand the role of osteoblasts and osteoclasts in bone formation and resorption. Finally, we’ll discuss common bone disorders and the latest research in bone health. 
                So, let’s embark on this journey to understand the marvel of bones, the pillars of our body
            </p>
            <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vTNF7-HFdjbZbE8mdj0Pr7n0AyEDjqsqZQGy7QouF9y8lf0R4Stlry7oON-ETESZQ/embed?start=true&loop=true&delayms=30000" frameborder="0" width="100%" height="600" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true">
            </iframe>
        </div>
    </section>
{% endblock %}
